@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

:root {
  --main-font: 'Poppins', sans-serif;
  --secondary-font: helvetica;
}


header {
    text-align: center;
    background: limegreen;
    font-family: var(--main-font);
    font-size: 60px;
    border-radius: 12em;
  }
  
  body {
    background: lightblue;
  }
  
  img {
    width: 100%;
    display: block;
    margin: 1rem;
    border-radius: 6rem;
  }
  
  main {
    max-width: 50ch;
    margin: 3em auto;
  }
  
  a {
    color: black;
    font-family: var(--main-font);
    text-decoration: none;
    font-size: 50px;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .menu {
    text-align: center;
  }
  